<h1 mat-dialog-title>Add a new Question</h1>
<div mat-dialog-content>
  <form [formGroup]="questionForm">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Question</mat-label>
      <input type="text" matInput formControlName="question">
      <mat-error *ngIf="questionForm.controls['question'].hasError('required')">
        Question <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="answer-type">
      <p>Select answer type</p>
      <mat-radio-group formControlName="answerType">
        <mat-radio-button value="text">Text</mat-radio-button>
        <mat-radio-button value="checkbox">Checkbox</mat-radio-button>
      </mat-radio-group>
    </div>

    <ng-container *ngIf="questionForm.controls['answerType'].value === 'checkbox'">
      <div formArrayName="options">

        <div *ngFor="let option of options.controls; let i = index">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Option</mat-label>
            <input type="text" matInput [formControlName]="i">
            <mat-error *ngIf="options.controls[i].hasError('required')" style="margin-top: 5px">
              Option <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div style="margin-top: 10px">
          <button mat-raised-button color="primary" (click)="addOption()" [disabled]="options.controls.length === 5">+ Add another answer</button>
        </div>
      </div>
    </ng-container>

    <ng-container>
      <div style="margin-top: 20px">
        <mat-checkbox class="form-control" formControlName="isAllowUser">
          <span style="color: midnightblue">Allow user to specify their own answer</span>
        </mat-checkbox>
      </div>
      <div style="margin-top: 10px">
        <mat-checkbox class="form-control" formControlName="isRequired">
          <span style="color: midnightblue">This field is required</span>
        </mat-checkbox>
      </div>
    </ng-container>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!questionForm.valid">Submit</button>
</div>

